@charset "utf-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

* {
  box-sizing: border-box;
}

body {
  line-height: 1.0;
  color: #333;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  align-self: baseline;
}

header {
  background: #aaa;
  padding: 20px 0;
  text-align: center;
}

.logo {
  display: inline-block;
  margin: auto;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
}

.logo img {
  width: 40px;
  margin-right: 20px;
}

.logo span {
  color: white;
  text-shadow: 1px 1px black;
}

p{
    line-height: 1.5;
}

p + p {
    margin-top: 1em;
}

main {
  display: flex;
  width: 1200px;
  margin: 120px auto 0;
}

#sidebar {
  background: #aaa;
  width: 22%;
  padding: 240px 20px 20px;
  position: relative;
}


#content {
  background: #efefef;
  width: 75%;
  padding: 40px;
  margin-left: auto;
}

#content sectino + section {
    margin-top: 40px;
}

#content h3 {
    font-size: 20px;
    margin-bottom: 1em;
    padding: .25em 0 .25em 1em;
    border-left: 8px solid black;
}


.box-area {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 5%;
  }

  .box:nth-of-type(n + 4){
    margin-top: 5%;
  }

footer {
    margin-top: 40px,
}

.copyright {
    display: block;
    text-align: center;
    line-height: 3;
    font-size: 12px;
    background: #aaa;
}